{% extends "Discover/intro/base.html" %}
{% load static %}
{% block styles%}
    <link rel="stylesheet" href="{% static 'Discover/create.css' %}">
{% endblock styles%}
 
{% block body %}
<header>
    <header>
        <img src="{% static 'images/Workerfy logo2.png' %}" alt="Workerfy Logo" class="workerfyLogo"> 
   </header>  

   <main>
       
       <div>
           <P> Fill in the Your info to set you up </P>
       </div>
       <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="formC">
            <label for="CT_firstname">First Name:</label><br>
            {{ form.first_name }}<br>
            
            <label for="CT_othernames">Other Names:</label><br>
            {{ form.middle_name }}<br>
            
            <label for="CT_lastname">Last Name:</label><br>
            {{ form.last_name }}<br>
            
            <label for="CT_ProfilePicture">Profile Picture:</label><br>
            {{ form.profile_picture }}<br>
            
            <label for="CT_phone1">Phone Number:</label><br>
            {{ form.phone }}<br>
            
            <label for="CT_phone2">Second Phone Number:</label><br>
            {{ form.phone2 }}<br>
            
            <label for="CT_location">Region you are based:</label><br>
            {{ form.location }}<br>
            
            <label for="CT_address">The area you work in your region:</label><br>
            {{ form.address }}<br>
            
            <label for="CT_Bio">Write about yourself (Tell Clients why you are the best fit):</label><br>
            {{ form.bio }}<br>
    
            <input class="lastBTN" type="submit" value="Submit">
            <input class="lastBTN" type="reset" value="Reset" id="lastBTNbutton">
        </div>
    </form>
    

        </div>
    </form>

   </main>
{% endblock body %}