{% extends "Discover/intro/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'Discover/login.css' %}">
    
{% endblock styles %}
 
{% block body %}

<header>
    <a href="/"><img src="{% static 'images/Workerfy logo2.png' %}" alt="Workerfy Logo" class="workerfyLogo" loading="lazy"></a>
</header>  
<main>
        <!-- this div contains the for to login-->
        <h2 id="loginHeader">Log in</h2>

        <form method="post">
            {% csrf_token %}
            <div id="credentials">
                {{ form.username.label_tag }}<br>
                {{ form.username }}<br>
                {{ form.password.label_tag }}<br>
                {{ form.password }}<br>

                <input type="submit" id="L_submit" name="submitbtn" value="Log In"><br>
            </div>
        </form>
        
                <legend><label for="S_submit">Don't have an account?</label><br></legend>
                <input type="button" id="S_submit" name="signUpbtn" value="Sign Up" onclick="document.location='/Sign_up'">
            

</main>
<footer>
    <p>&copy; Workerfy. All rights reserved.</p>
</footer>
 
{% endblock body %}
