{% extends "Discover/intro/base.html %}
{% block styles%}
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="setupComplete.css">
{% endblock styles%}
 
{% block body %}
    <header>
         <img src="images/Workerfy logo2.png" alt="Workerfy Logo" class="workerfyLogo" loading="lazy"> 
    </header>  
    <main>
        <div>
            
            <h2 class="congrats"> Congratualtion your setup is complete.</h2>

            <a href="profilePage.html" id="profileBTN"> Go to your Profile page</a>
            <a href="discoverT.html" id="discoverBtN"> Go to Discover page</a>
          
        </div>

    </main>
    <footer>
        <p>&copy; Workerfy. All rights reserved.</p>
    </footer>
{% endblock body %}