{% extends "Discover/page2/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href={% static 'Discover/page2/registerPage2.css' %}>
{% endblock styles %}

{% block body %}
    <main class="registerPage">
        <div class="container">
            <header class="headerContainer">
                <img src= {% static "images/WorkerfyLogo01-removebg-preview(1).png" %} "images/WorkerfyLogo01-removebg-preview(1).png" alt="Workerfy Logo" width="200" height="200" loading="lazy">
            </header>
        </div>

        <section class="section1">

            <div class="message">
                <h2> Sign up successfull!</h2>
                <h3> You are now part of Workerfy</h3>
                <div class="Messages">
                    <p>A verification link will be sent to your email address. Make Sure to visit your email and open the link to get your account verified</p>
                    <p>Would you like to complete your profile to increase your visibility and chance of success or you will like to explore the app first</p>
                </div>
            </div>

            <div class="BTN">
                <button onclick="window.location = '/onboardings'">Start onboarding</button>
                <button onclick="window.location = '/Main'">Explore the app</button>
            </div>

        </section>
    </main>
{% endblock body %}