body{
    background-color: white;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

*{
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

header{
    background-color: rgba(250, 235, 215, 0.5);
    margin: none;
    padding: 10px;
    border-bottom: solid rgba(139, 69, 19, 0.5);
}

.main_nav img{
    width: 35px;
    height: 35px;

}

.main_nav{
    border-top: solid 2px rgba(139, 69, 19, 0.6);
    border-radius: 10px  10px 0 0;
    outline: solid rgba(127, 255, 212, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

main h2{
    color: blue;
}

#T_discover_filters label{
    color: blue;
}

#fillterbyt label{
    color: blue;
}

#Discover_search{
    width: 250px;
    height: 30px;
    border: solid 2px rgba(139, 69, 19, 0.3) ;
}

#filterBTNs{
    display: flex;
    padding: 10px 25px;
    justify-content: space-around;
    border-bottom: solid 1px rgba(139, 69, 19, 0.3);
    cursor: pointer;
}

button{
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.5);
    font-size: medium;
    border-radius: 7px;
    border: solid 2px rgba(139, 69, 19, 1);
    cursor: pointer;
    
}

#keywordSearch{
    margin: 5px;
    background-color: gainsboro;
    font-size: medium;
    border-radius: 7px;
    border: solid 2px rgba(139, 69, 19, 1);
    cursor: pointer;
}

#filterBTNs label{
    margin: 5px;
    padding: 5px;
    background-color: rgba(250, 235, 215, 0.5);
    font-size: medium;
    border-radius: 7px;
    border: solid 2px rgba(139, 69, 19, 1);
    cursor: pointer; 
}

#mycheckbox_filterbylocation, #mycheckbox_filterbytrades{
    display: block;
}




#filterBTNs label:hover, button:hover{
    box-shadow: 5px 5px 10px rgba(250, 235, 215, 1), -5px -5px 10px rgba(250, 235, 215, 1);
}

#filterBTNs label:active, button:active{
    box-shadow: 3px 3px 5px rgba(139, 69, 19, 1), -3px -3px 5px rgba(139, 69, 19, 1);
}

#T_discover_filters{
    display: none;
}

#fillterbyt{
    display: none;
}

#mycheckbox_filterbylocation:checked ~ .bbbb{
    display: block;

   
}

#mycheckbox_filterbytrades:checked {
    display: block;
}