/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html {
    scroll-behavior: smooth; /* For smooth scrolling when clicking nav links */
}

body{
    width: 100%;
}

main{
    width: 100%;
    height: 100vh;
}


/*This section styles the buttom nav bar */
.buttom_nav{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #E3D5C0;
    padding: 0 2vw;

}

.buttom_nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #E3D5C0;
}

.navlist li{
    height: 80%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    list-style-position: inside;
}

.navlist a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000080;
    font-weight: 500;
}

.navimage{
    width: 100%;
}

.svgNavs svg{
    display: block;
    margin: auto;
    fill: #000080
}
.navimage h5{
    display: flex;
    font-family: "Nunito", sans-serif;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.7vh;
    align-items: center;
    font-size: max(0.4rem, 1.2vh);
}

.activeNav {
    background-color: #0000B6;
    border-radius: 2vh;
}

.activeNav svg, .activeNav h5 {
    fill: whitesmoke;
    color: whitesmoke;
}



/* This is the the styling of the main sections of the page */

.mainSection {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mainSections {
    width: 100%;
    height: 100vh;
}



#mainSection2 {
    background-color: hotpink;
}

#mainSection4 {
    background-color:aliceblue;
}

#mainSection5 {
    background-color: tomato;
}


/* This is the styling of the notification page */

.Notifications_section {
    height: 100vh;
    overflow: scroll;
    padding-bottom: 10vh;
}
.notificationSection {
    border-radius: 0 0 2.2222vh 2.2222vh;
    width: 100%;
    height: 10.2222vh;
    background-color: #F1EADF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000080;
}

/* section {
    overflow: scroll;
} */



.notificationSection h2 {
    font-family: "Playpen Sans", cursive;
    font-size: 2.6666vh;
    text-align: center;
}

.notificationFilterContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    margin-bottom: 1vh;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

.notificationFilter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vh;
    width: 12vh;
    padding: 1vh;
    border-radius: 1.6666vh;
    background-color: #F8F5EF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 1vh ;
}

.indicationlights div .switchindication {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    gap: 0.5vh;
}

.switchindication p{
    font-family: "Playpen Sans", cursive;
    font-weight: 600;
    color: #000080;
    font-size: 1.1111vh;

}

.indicationlights div{
    padding: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationFilter select {
    border: none;
    font-family: "Nunito", sans-serif;
    appearance: none;
    font-size: 1.7777vh;
    background-color: inherit;
    color: #000080;
    font-weight: 700;
    text-align: center;
}

.notificationFilter select:focus, .notificationFilter select:active {
    border: none;
}

.notificationCats {
    overflow: scroll;
    scrollbar-width: none;
}

.notificationDay {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0 2vh;
}

.notificationDay p{
    color: #000080;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    padding: 0 1vh;
}

.notificationCard{
    margin: 2vh 1vh 2vh 1vh;
    padding: 1.5vh 1.5vh 2.5vh 1.5vh;
    border-radius: 2.2222vh;
    border-left: 3px solid #006AFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.notificationCardOld{
    margin: 2vh 1vh 2vh 1vh;
    padding: 1.5vh 1.5vh 2.5vh 1.5vh;
    border-radius: 2.2222vh;
    border-left: 3px solid rgba(164, 164, 164, 0.5);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.switch {
    width: 100%;
    display: flex;
    justify-content: end;
}

.TitleAndTime{
    display: flex;
    justify-content: space-between;
    padding: 0 4vh 0 2vh ;
    margin-bottom: 1vh;

}

.TitleAndTime h3{
    width: 152px;
    height: 26px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.7777vh;
    line-height: 22px;

    color: #000049;
}

.TitleAndTime time{
    font-size: 1.3333vh;
    color: #000049;
}

.details {

    font-family: 'Nunito Sans' sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: #000049;
    font-size: 1.333vh;
    
}




/* THis is the styling of the discover page */
.DiscoverSection {
    display: flex;
    position: relative;
}

#containerHolder1 {
    width: 100%;
    height: 100%;
    position: relative;
    flex: 0 0 100%;
}

#containerHolder2 {
    width: 100%;
    height: 100vh;
    position: relative;
    flex: 0 0 100%;
}

.findTradespeople, .findJobPostings {
    height: 100%;
}

.FTPContainer {
    height: 100%;
    overflow: scroll;
}

.PaJ {
    position: absolute;
    right: 1vh;
    bottom: 10vh;
    padding: 1vh 4vw;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 1.75vh;
    background-color: #0000ED;
    color: white;
    border: none;
    text-align: center;
    border-radius: 2.8vh;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.2vw;
}

.header {
    position: sticky;
    top: -30vh;
    background-color: #F1EADF;
    padding: 2vh;
    height: 30vh;
    /* border-radius: 0 0 4vh 4vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /*  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); */
}

.heads {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1vh;
}
.heads h2{
    font-family: "Playpen Sans", cursive;
    font-size: 2.2222vh;
    color: #000080;
    
}

.svgIcon {
    width: 3vh;
    fill: #000080;
    transition: transform 0.3s;
    cursor: pointer;
}

.svgIcon:focus, .svgIcon:active {
    transform: rotate(-180deg);
}

.serchBar {
    position: relative;
    width: 100%;
}

.serchSVG {
    position: absolute;
    right: 2vh;
    top: 0.8vh;
}

.serchSVG svg {
    width: 2.6667vh;
    height: 2.6667vh;
    fill: rgba(128, 128, 128, 0.1)
}

#searchTrades {
    display: block;
    font-size: 1.72vh;
    font-family: "Nunito", sans-serif;
    color: rgba(128, 128, 128, 0.5);
    width: 100%;
    height: 4.5vh;
    font-weight: 500;
    border-radius: 4vh;
    padding: 0 2vh;
    border: none;
    margin-bottom: 2vh;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.selects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vh;
    padding: 0 1vh;
}

.select-wrapper {
    width: 45%;
    position: relative;
    display: inline-block;
    border-radius: 1vh;
    box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.2);
}

.header select {
    appearance: none;
    width: 100%;
    font-size: 1.5vh;
    height: 4.5vh;
    font-weight: 500;
    border: none;
    border-radius: 1vh;
    background-color: #0000B6;
    color: whitesmoke;
    flex-shrink: 0;
    padding: 0 1vh;
    outline: none;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 2vh;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.5vh;
    color: whitesmoke;
}


.tradesType {
    position: sticky;
    top: 0;
    z-index: 1;
    align-items: center;
    background-color: #F8F5EF;
    column-gap: 5vw;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    margin: 0.7vh 0;
    padding: 1vh;
    width: 100%;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.tradesTypeContainer {
    /* background-color: #E7DCCA; */
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 13vh;
    flex-shrink: 0;
    border-radius: 2vh;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.tradesTypeContainer img{
    width: 80%;
    height: 8vh;
    border-radius: 1vh;
    display: block;
    margin: auto;
}

.tradesTypeContainer h4{
    font-family: "Nunito", sans-serif;
    text-align: center;
    color: #000080;
    padding: 0.5vh 0;
}

.cards {
    width: 100%;
    padding-bottom: 5vh;
    padding-top: 2vh;
}

.card {
    border-radius: 2vh;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    width: 95%;
    padding: 1.5vh;
    background-color: whitesmoke;
    margin: 0 auto 4vh;
}

.card:hover, .card:active {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

.cardSections{
    width: 100%;
}

.cardDetails{
    display: flex;
}


.profileIMG{
    width: 20%;
    padding: 2vh 0.5vh 0 0.5vh;
}

.profileINFO {
    width: 55%;
    padding: 0vh 1vh 0vh 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ProfileJOB{
    width: 25%;
    display: flex;
    justify-content: end;
}

.ProfileJOB img{
    width: 10vh;
    height: 14.4444vh;
    justify-items:self-end;
    border-radius: 1vh;
}

.profileBOOK {
    display: flex;
    padding: 1vh 2vh 0 2vh;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.profileBOOK button {
    width: 14.4444vh;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    border-radius: 3vh;
    font-size: 1.72vh;
    height: 3.3333vh;
    border: none;
    background-color: #0000D1;
    color: whitesmoke;
    cursor: pointer;
    padding: 1vh 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBOOK span {
    display: flex;
    height: 3.3333vh;
    justify-content: center;
    align-items: center;
    /* width: 30%; */
    font-weight: 700;
    padding: 1vh 2vh;
    font-size: 1.3vh;
    font-family: "Nunito", sans-serif;
    border-radius: 2vh;
    background-color: #C8FFC8;
    color: #000080;
    border: 0.1vh solid #49FF49;
}

.cardSections p, .cardSections h3 {
    color: #000037
}

.profileIMG img {
    display: block;
    margin: auto;
    width: 96%;
    height: auto;
    border-radius: 50%;
}

.profileINFO .profileName {
    font-size: 2.2222vh;
    font-weight: 600;
    padding: 0;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 1vh;
    margin: 0;
}

.profileINFO .profileName h3{
    font-size: 2.2vh
}

.profileINFO .profileTradeType {
    font-size: 1.5556vh;
    font-weight: 500;
    margin: 0 0.5vh 0.8vh 0.5vh;
}

.profileTags{
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5vh;
    overflow-x: auto;
    scrollbar-width: none;
    margin: 0 0.5vh 0.8vh 0.5vh;
}

.profileINFO .tags {
    font-size: 1.1111vh;
    display: inline-block;
    background-color: #E3D5C0;
    color: #000049;
    border-radius: 2vh;
    padding: 0 1vh;
    font-weight: 300;
    flex-shrink: 0;
}

.profileINFO .profileLocation {
    font-size: 1.5556vh;
    font-weight: 300;
    margin: 0 0.5vh 0.8vh 0.5vh;
}
.profileINFO .profileRate {
    font-size: 1.3333vh;
    font-weight: 300;
    margin: 0 0.5vh 0.8vh 0.5vh;
}
.profileINFO .profileRatings {
    font-size: 1.3333vh;
    font-weight: 300;
    margin: 0 0.5vh 0.8vh 0.5vh;
}

/* Styling for the Job Posting Page */

.findJobPostings .card{
    /* border: solid 0.2vh #000080; */
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 2vh 3vh;
    color: #000037;
}

.neededTrades {
    font-size: 1.1111vh;
    color: #000049;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.jobTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.jobTitle h4 {
    font-size: 1.5556vh;
    color: #000049;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.budgetAndLocation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.25vh 0;
    padding: 0.5vh 0;
}

.jobBudget {
    display: flex;
    align-items: center;
}


.jobDuration{
    display: flex;
    justify-content: right;
    align-items: center;;
}

.jobDuration p {
    font-size: 1.2vh;
    font-weight: 600;
    border-radius: 2vh;
    background-color: #ECE0DA;
    color: #4F3528;
    padding: 0.5vh 1vh;
    font-family: "Nunito", sans-serif;
    border: solid 0.1vh #4F3528;
}

.jobBudget p{
    font-size: 1.333vh;
    font-weight: 300;
    color: #000049;
}

.jobLoaction{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0.25vh 0;
    gap: 0.3vh
}

.jobLoaction  p{
    font-size: 1.333vh;
    font-weight: 300;
    color: #000049;
}

.jobOwner{
    margin: 0.25vh 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.jobOwner p{
    font-size: 1.5556vh;
    font-weight: 600;
    color: #000049;
}

.jobDiscription {
    font-weight: 100;
    display: flex;
    margin: 0.4vh 0;
}

.jobDiscription p{
    font-size: 1.5556vh;
    font-weight: 300;
    color: #000049;
}

.datePosted {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1vh 0;
    gap: 0.3vh;
}

.datePosted p {
    font-size: 1.3vh;
    font-weight: 300;
    color: #000049;
}

.jobApply {
    display: flex;
    justify-content: right;
    align-items: center;
}

.jobApply button{
    width: 30%;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    border-radius: 2vh;
    font-size: 1.6vh;
    background-color: #0000D1;
    color: whitesmoke;
    border: none;
    padding: 1vh 2vh;
    cursor: pointer;
}

#verified{
    width: 2vh;
    height: auto;
    fill: #2424FF;
}

/* This is the styling for the Profile page */

#mainSection1 {
    position: relative;
}

#mainSection1 header{
    width: 100%;
}


.profileHeader {
    width: 100%;
    height: 100%;
    padding: 2vh;
    background-color: #F1EADF;
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   /*  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); */
}


.workerfyLogoAndProfileEditingLogo {
    margin-bottom: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.workerfyLogoAndProfileEditingLogo a{
    width: 40%;
}

.workerfyLogoAndProfileEditingLogo P{
    font-size: 2.2222vh;
    font-weight: 700;
    color: #000080;
    font-family: "Playpen Sans" cursive;
}

.profileEditing {
    background-color: #0000D1;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vh;
    border-radius: 2vh;
}

.profileEditing p{
    font-size: small;
    font-family: "Nunito", sans-serif;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.3333vh;
}

.profileEditing svg{
    height: auto;
    fill: whitesmoke;
}

.profileImg {
    width: 15.5556vh;
    height: 15.5556vh;
    border-radius: 50%;
    overflow: hidden;
}

.profileImg img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.profileName{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    margin-bottom: 0.5vh;
    line-height: 3vh;
}

.profileName h2{
    font-size: 2.6667vh;
    color: #000080;
    margin-top: 1vh;
}

.profileName p{
    font-size: 2.2222vh;
    font-weight: 500;
    color: #000080
}

.availabilityStats{
    width: 35%;
    padding: 1vh;
    background-color: #50CF37;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}

.stats {
    color: white;
    font-size: 1.3333vh;
}

.headingsAndBulbs {
    width: 100%;
    margin: 0;
    padding-top: 1vh;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.bulbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    padding: 1vh;
}

.bulbs div {
    width: 25vw;
    height: 2.4vh;
    border-radius: 30vh;
    background-color: #8F8CC3;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.headings {
    width: 100%;
    color:#706bc7;
    padding: 0 25vw;
    display: flex;
    margin: 0 20px;
    gap: 20px;
    overflow: auto;
    align-items: center;
    scrollbar-width: none;

}

.headings p {
    font-size: 1.9vh;
    font-weight: 600;
    flex-shrink: 0;
    padding: 0 4vw;
}

.detailsArea {
    height: 55vh;
    display: flex;
    overflow: auto;
}

.detailsGroup{
    width: 100%;
    padding: 2vh 2vh 10vh;
    flex-shrink: 0;
    overflow: auto;
    scrollbar-width: none;
    height: 100%;
}

.tagline {
    color: #00006D;
    text-align: center;
    padding-bottom: 1vh;
    font-family: "Playpen Sans", cursive;
    font-weight: 700;
}


.basics{
    width: 100%;
    display: flex;
    padding: 1vh;
    column-gap: 0.5vh;
    flex-wrap: wrap;
    justify-content: space-between;
}

.basicsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 47%;
    padding: 0.5vh 0;
    gap: 0.5vh;
}

.basicsList p {
    font-family: "Nunito", sans-serif;
}

.currency {
    color: #006AFF;
    font-weight: 700;
}

.basicsList svg {
    fill: #006AFF;
}

.bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3vh 0;
}

.bio h4 {
    font-size: 2.2vh;
    padding: 0.5vh, 1vh;
    margin-bottom: 1vh 0;
    color: #00006D;
}

.bio p {
    padding: 0 2vh;
    /* background-color:rgba(230, 224, 216, 0.3); */
    border-radius: 2vh;
    line-height: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 1.7778vh;
}

.skillHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    gap: 0.5vh
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.tags{
    display: flex;
    gap: 1vh;
    flex-wrap: wrap;
}

.skills h4 {
    font-size: 2.2vh;
    padding: 0.5vh, 1vh;
    color: #00006D;
}

.tags p{
    padding: 0 2vw;
    flex-shrink: 0;
    background-color: rgba(221, 205, 180, 0.5);
    border-radius: 2vh;
    color: #000037;
    padding: 1vh;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

}

#jobPortfoilio {
    padding: 2vh;
    display: flex;
    gap: 4vw;
    position: relative;
}

.addfloater {
    width: 6vh;
    height: 6vh;
    position: absolute;
    bottom: 10vh;
    right: 5vh;
    background-color: #0000D1;
    border-radius: 50%;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addfloater p{
    color: white;
    font-size: 3.1111vh;
    font-weight: 700;
}

#jobPortfoilio .pastJobCard {
    width: 186px;
    height: 220px;
    box-shadow: 0 2px 8px 0 rgba(9, 9, 255, 0.2);
    padding: 0;
    overflow: hidden;
    border-radius: 2vh;
    background-color: rgba(221, 205, 180, 0.4);
}

#jobPortfoilio .pastJobCard img{
    width: 100%;
    border-radius: 2vh 2vh 0 0;
    height: 16vh;
    display: block;
    margin: auto;
    object-fit: cover;
}

#jobPortfoilio .pastJobCard h4 {
   font-size: 1rem;
   letter-spacing: 0.05vh;
   color: #00006D;
}

#jobPortfoilio .pastJobCard time {
   font-size: 0.8rem;
   letter-spacing: 0.05vh;
   color: #00006D;
}

.PJT {
    display: flex;
    height: 8vh;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vh;

}

#jobPortfoilio .pastJobCard:hover, #jobPortfoilio  .pastJobCard:active {
    box-shadow: 0 2px 8px 0 rgba(9, 9, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.MoreDetailsHeading{
    padding: 1vh 2vh;
    background-color: rgba(221, 205, 180, 0.4);
    color: #000080;
    border-radius: 1.5vh;
}

.detailsInfo {
    padding: 1vh 2vh;
    display: flex;
    overflow: hidden;
    font-size: 1.52;
    font-family: "Nunito", sans-serif;
}

.detailsInfo .infoType {
    width: 30%;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

#moreDetails .moreDetailsContainer .valueContainer{
    width: 60%;
    padding: 0;
}

/* This is the styling for the booking process popup */

.bookingProcess{
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
    z-index: 2;
}

.bookingcard{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E3D5C0;
    padding: 3vh;
    border-radius: 1vh;
    border: 2px solid #000080;
}

.bookingcard h4{
    font-size: 2.8vh;
    color: #000080;
    font-weight: 800;
}

.bookingcard p{
    font-size: 2vh;
    color: #000080;
    font-weight: 700;
}

.bookingtypes{
    width: 100%;
    height: 35vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bookingtypes div{
    width: 90%;
    height: 8vh;
    font-size: 2vh;
    color: #000080;
    font-weight: 600;
    background-color: #dba34a;
    margin: 2vh;
    box-shadow: 0 2px 8px 0 rgba(9, 9, 255, 0.5)

}
.bookingtypes p{
    font-size: 2vh;
    color: #000080;
    font-weight: 800;
}

.cancel button{
    padding: 1vh 2vh;
    background-color: #000080;
    font-size: 1.7vh;
    margin-bottom: 1vh;
    color: whitesmoke;
    border: none;
    border-radius: 3vh;
    font-weight: 700;
}

.bookingsSVG{
    width: 3.5vh;
    height: auto;
    fill: #000080;
    margin-left: 2vw;
}

.method{
    display: flex;
    align-items: center;
    padding: 2vh;border-radius: 5vh;
}
.method p{
    width: 80%;
    text-align: center;
}


/* This is the styling of the Work section */

#mainSection2 {
    background-color: white;
    position: relative;
}

.sideNav {
    display: flex;
    background-color: rgba(221, 205, 180, 0.4);
    height: 92vh;
    width: 70%;
    background-color: rgba(221, 205, 180, 0.4);
    flex-direction: column;
    padding: 2vh 2vh;
    position: absolute;
}

.navOpen {
    top: 0;
    left: 0;
}

.navClose {
    left: -32vh;
}

.sideNavHeader h1 {
    font-size: 2.2222vh;
    color: #00006D;
    text-align: center;
    font-family: "Playpen Sans", cursive;
}

.navandlogout {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navs{
    padding: 2vh 0;
    position: relative;
}

.navs .NavList h4{
    font-family: "Playpen Sans", cursive;
    color: #00006D;
    padding: 1vh 0;
}

.navs .NavList {
    display: flex;
    gap: 1vh;
    align-items: center;
    padding: 1vh 1vh;
}

.sideNavFooter {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.sideNavFooter img {
    width: 5.5556vh;
    height: auto;
    border-radius: 50%;
}

.sideNavFooter h4 {
    color: #00006D;
    font-family: "Playpen Sans",;

}

.WorkNavControl {
    position: absolute;
    right: -30px;
    top: 35vh;
    width: max(2vh);
    height: max(20vh);
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    background-color: #E7DCCA;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.WorkNavControl svg {
    fill: #8B6E3E;
    width: max(2.6667vh);
    height: max(2.6667vh);
}










